.root {
  .input {
    right: 0;
    bottom: 0;
    width: calc(100% - 24em);
    padding: 1em 1em 2em 1em;
    height: 2em;
    position: fixed;
    background-color: #221f22;

    input {
      width: calc(100% - 8.2em);
      height: 30px;
    }

    button {
      width: 6em;
      padding: 0.6em;
      margin-left: 1em;
    }
  }
}
